.text-input{
    display:inline-table;
    justify-content: center;
    width: 95%;
    margin-top: 60px;
}
.input-row{
    width: 100%;
    display: flex;
    justify-content: center;
}
.file-input::file-selector-button {
    width: 300px;
    border-color: #555594;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    background-color: #171831;
    cursor: pointer;
    transition: 0.3s;
    color: whitesmoke;
}
.file-input{
    color: whitesmoke;
}
.file-input::file-selector-button:hover {
    box-shadow: 4px 4px 10px 2px #153a3a;
    background: none repeat scroll 0 0 #6b6daf;
    transition: 0.3s;
    border-color:#91FA9F;
    color: #1C1C3B;
}
.file-mode{
    width: fit-content;
    margin-top: 20px;
    height: 40px;
    padding-left: 5px;
    outline: none;
    background-color: #171831;
    color: whitesmoke;
    border: 2px #555594 solid;
    transition: 0.3s;
}
.file-mode:hover{
    background-color: #6b6daf;
    box-shadow: 5px 8px 8px 1px #153a3a;
    border: 2px #91FA9F solid;
    transition: 0.3s;
}
.emotion-div{
    margin-left: 240px;
}