.input-div{
    margin-top: 30px;
    display: grid;
    justify-content: center;
}

#number-input{
    margin-top: 20px;
    width: 300px;
}

#result-labels{
    display: table-row;
    margin-left:5%;
    width: 100%;
}
.input{
    padding: 5px;
    width: 400px;
    border-color: #555594;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    background-color: #0d1422;
    color: whitesmoke;
    outline: none;
    transition: 0.3s;
}

.input:hover {
    background: none repeat scroll 0 0 #6b6daf;
    outline-width: 0;
    transition: 0.3s;
    border-color:#91FA9F;
    color: #1C1C3B;
    box-shadow: 8px 8px 10px 2px #153a3a;
}

.input:hover::placeholder {
    color: #1C1C3B;
}

.sentiment-label-text{
    line-height: 30px;
    margin-left: 530px;
    background-color: none;
    text-align: center;
    color:whitesmoke;
    font-size: 20px;
}
.sentiment-label-text:first-child{
    margin-left: 100px;
}
.result-labels-text-div{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.sentiment-label-div{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.emotion-div:focus{
    height: 126vh;
    transition: 0.3s;
}
.emotion-div:focus ul{
    display: block;
    opacity: 1;
}
.emotion-div:focus p{
    transition: 0.3s;
    display: none;
    opacity: 0;
}
.emotion-div{
    height: 1vh;
    margin-top: 20px;
    margin-left: 5%;
    width: 700px;
    list-style-type: none;
    color: whitesmoke;
    border: 2px #91FA9F solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 8px 8px 10px 2px #143636;
    transition: 0.3s;
}
#emotion-div-topics:focus{
    height: 87vh;
}
.emotion-div p{
    transition: 0.3s;
    margin-top: -15px;
    font-size: 20px;
}
.emotion-div ul {
    display: none;
    opacity: 0;
    transition: 1s;
}

li{
    line-height: 40px;
}
.progress-bar{
    position: relative;
    height: 5px;
    border-radius: 20px;
    background:linear-gradient(90deg,#26a4b4, #155b63);
    z-index: 1;
}
.parent_progress_div{
    position: absolute;
    z-index: -1;
    width: 600px;
    border-radius: 20px;
    background-color: #0b2e33;
}

b{
    margin-left: 20px;
}
.emotion-div{
    margin-left: 0px
}

.bubble_graphs_div{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    margin-top: 0px;
    border: 1px #91FA9F solid;
    margin-top: 50px;
}
.bubble_graph{
    width: 300px;
}
#doughnut_graph{
    width: 800px;
    margin-top: 100px;
}