{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="static/css/youtube-scanner.css">
  <link rel="stylesheet" href="static/css/file-scanner.css">
  <style>
    #love_progress { width: {{600*emotion['love']/100}}px }
    #admiration_progress { width: {{ 600*emotion['admiration']/100 }}px }
    #joy_progress { width: {{ 600*emotion['joy']/100 }}px }
    #approval_progress { width: {{600*emotion['approval']/100}}px}
    #caring_progress { width: {{600*emotion['caring']/100}}px}
    #excitement_progress { width: {{600*emotion['excitement']/100}}px}
    #amusement_progress { width: {{600*emotion['amusement']/100}}px}
    #gratitude_progress { width: {{600*emotion['gratitude']/100}}px}
    #desire_progress { width: {{600*emotion['desire']/100}}px}
    #anger_progress { width: {{600*emotion['anger']/100}}px}
    #optimism_progress { width: {{600*emotion['optimism']/100}}px}
    #disapproval_progress { width: {{600*emotion['disapproval']/100}}px}
    #grief_progress { width: {{600*emotion['grief']/100}}px}
    #annoyance_progress { width: {{600*emotion['annoyance']/100}}px}
    #pride_progress { width: {{600*emotion['pride']/100}}px}
    #curiosity_progress { width: {{600*emotion['curiosity']/100}}px}
    #neutral_progress { width: {{600*emotion['neutral']/100}}px}
    #disgust_progress { width: {{600*emotion['disgust']/100}}px}
    #disappointment_progress { width: {{600*emotion['disappointment']/100}}px}
    #realization_progress { width: {{600*emotion['realization']/100}}px}
    #fear_progress { width: {{600*emotion['fear']/100}}px}
    #relief_progress { width: {{600*emotion['relief']/100}}px}
    #confusion_progress { width: {{600*emotion['confusion']/100}}px}
    #remorse_progress { width: {{600*emotion['remorse']/100}}px}
    #embarrassment_progress { width: {{600*emotion['embarrassment']/100}}px}
    #surprise_progress { width: {{600*emotion['surprise']/100}}px}
    #sadness_progress { width: {{600*emotion['sadness']/100}}px}
    #nervousness_progress { width: {{600*emotion['nervousness']/100}}px}
  </style>
  <style>
    #arts_and_culture_progress { width: {{600*topics['arts_&_culture']/100}}px }
    #fashion_and_style_progress { width: {{ 600*topics['fashion_&_style']/100 }}px }
    #learning_and_educational_progress { width: {{ 600*topics['learning_&_educational']/100 }}px }
    #science_and_technology_progress { width: {{600*topics['science_&_technology']/100}}px}
    #business_and_entrepreneur_progress { width: {{600*topics['business_&_entrepreneurs']/100}}px}
    #film_tv_and_video_progress { width: {{600*topics['film_tv_&_video']/100}}px}
    #music_progress { width: {{600*topics['music']/100}}px}
    #sports_progress { width: {{600*topics['sports']/100}}px}
    #celebrity_and_pop_culture_progress { width: {{600*topics['celebrity_&_pop_culture']/100}}px}
    #fitness_and_health_progress { width: {{600*topics['fitness_&_health']/100}}px}
    #news_and_social_concern_progress { width: {{600*topics['news_&_social_concern']/100}}px}
    #travel_and_adventure_progress { width: {{600*topics['travel_&_adventure']/100}}px}
    #diaries_and_daily_life_progress { width: {{600*topics['diaries_&_daily_life']/100}}px}
    #food_and_dining_progress { width: {{600*topics['food_&_dining']/100}}px}
    #other_hobbies_progress { width: {{600*topics['other_hobbies']/100}}px}
    #youth_and_student_life_progress { width: {{600*topics['youth_&_student_life']/100}}px}
    #family_progress { width: {{600*topics['family']/100}}px}
    #gaming_progress { width: {{600*topics['gaming']/100}}px}
    #relationships_progress { width: {{600*topics['relationships']/100}}px}
  </style>
  <title>My Web</title>
</meta>
{% endblock %}
{% block navbar %}
<div class="navbar-nav">
  <a class="nav-link" id='a-Home' aria-current="page" href="/home">Home</a>
  <a class="nav-link" id='a-Features' href="/features">Features</a>
  <a class="nav-link" id='a-Text' href="/text-scanner">Text scanner</a>
  <a class="nav-link" id='a-Twitter'class='a' href="/twitter-scanner">Twitter scanner</a>
  <a class="nav-link" id='a-Youtube' href="/youtube-scanner">Youtube scanner</a>
  <a class="nav-link active" id='a-File'class='a' href="/file-scanner">File scanner</a>
</div>
{% endblock %}
{% block content %}
<h1>File Scanner</h1>  
<form action="#" method='post' enctype="multipart/form-data">
    <div class="text-input">
        <div class="input-row">
            <input type="file" name="file" class="file-input" value=""></input>
        </div>
        <div class="input-row">
            <select name="mode" class="file-mode">
                <option value="single">single text</option>
                <option value="multiple">multiple texts</option>
            </select>
        </div>
        
    </div>
  <div class="classify-button-div">       
    <button type="submit" value="submit" name="nm" class='fill'>Classify</button>
  </div>
</form>
<div class="result-labels">
  <h4 for="" class="sentiment-label">{{sentiment}}</h4>
  <h4 for="" class="emotion-label">{{dominant_emotion}}</h4>
</div>
<div class="emotion_and_topics_div">
  <div class="emotion-div" tabindex="0">
    <p>Click to open emotions list</p>
    <ul class="emotion-table">
        <li>love:<b>{{emotion['love']}}%</b><div class="parent_progress_div"><div id="love_progress" class="progress-bar"></div></div></li>
        <li>admiration:<b>{{emotion['admiration']}}%</b><div class="parent_progress_div"><div id="admiration_progress" class="progress-bar"></div></div></li>
        <li>joy:<b>{{emotion['joy']}}%</b><div class="parent_progress_div"><div id="joy_progress" class="progress-bar"></div></div></li>
        <li>approval:<b>{{emotion['approval']}}%</b><div class="parent_progress_div"><div id="approval_progress" class="progress-bar" ></div></div></li>
        <li>caring:<b>{{emotion['caring']}}%</b><div class="parent_progress_div"><div id="caring_progress" class="progress-bar" ></div></div></li>
        <li>excitement:<b>{{emotion['excitement']}}%</b><div class="parent_progress_div"><div id="excitement_progress" class="progress-bar" ></div></div></li>
        <li>amusement:<b>{{emotion['amusement']}}%</b><div class="parent_progress_div"><div id="amusement_progress" class="progress-bar" ></div></div></li>
        <li>gratitude:<b>{{emotion['gratitude']}}%</b><div class="parent_progress_div"><div id="gratitude_progress" class="progress-bar" ></div></div></li>
        <li>desire:<b>{{emotion['desire']}}%</b><div class="parent_progress_div"><div id="desire_progress" class="progress-bar" ></div></div></li>
        <li>anger:<b>{{emotion['anger']}}%</b><div class="parent_progress_div"><div id="anger_progress" class="progress-bar" ></div></div></li>
        <li>optimism:<b>{{emotion['optimism']}}%</b><div class="parent_progress_div"><div id="optimism_progress" class="progress-bar" ></div></div></li>
        <li>disapproval:<b>{{emotion['disapproval']}}%</b><div class="parent_progress_div"><div id="disapproval_progress" class="progress-bar" ></div></div></li>
        <li>grief:<b>{{emotion['grief']}}%</b><div class="parent_progress_div"><div id="grief_progress" class="progress-bar" ></div></div></li>
        <li>annoyance:<b>{{emotion['annoyance']}}%</b><div class="parent_progress_div"><div id="annoyance_progress" class="progress-bar" ></div></div></li>
        <li>pride:<b>{{emotion['pride']}}%</b><div class="parent_progress_div"><div id="pride_progress" class="progress-bar" ></div></div></li>
        <li>curiosity:<b>{{emotion['curiosity']}}%</b><div class="parent_progress_div"><div id="curiosity_progress" class="progress-bar" ></div></div></li>
        <li>neutral:<b>{{emotion['neutral']}}%</b><div class="parent_progress_div"><div id="neutral_progress" class="progress-bar" ></div></div></li>
        <li>disgust:<b>{{emotion['disgust']}}%</b><div class="parent_progress_div"><div id="disgust_progress" class="progress-bar" ></div></div></li>
        <li>disappointment:<b>{{emotion['disappointment']}}%</b><div class="parent_progress_div"><div id="disappointment_progress" class="progress-bar" ></div></div></li>
        <li>realization:<b>{{emotion['realization']}}%</b><div class="parent_progress_div"><div id="realization_progress" class="progress-bar" ></div></div></li>
        <li>fear:<b>{{emotion['fear']}}%</b><div class="parent_progress_div"><div id="fear_progress" class="progress-bar" ></div></div></li>
        <li>relief:<b>{{emotion['relief']}}%</b><div class="parent_progress_div"><div id="relief_progress" class="progress-bar" ></div></div></li>
        <li>confusion:<b>{{emotion['confusion']}}%</b><div class="parent_progress_div"><div id="confusion_progress" class="progress-bar" ></div></div></li>
        <li>remorse:<b>{{emotion['remorse']}}%</b><div class="parent_progress_div"><div id="remorse_progress" class="progress-bar" ></div></div></li>
        <li>embarrassment:<b>{{emotion['embarrassment']}}%</b><div class="parent_progress_div"><div id="embarrassment_progress" class="progress-bar" ></div></div></li>
        <li>surprise:<b>{{emotion['surprise']}}%</b><div class="parent_progress_div"><div id="surprise_progress" class="progress-bar" ></div></div></li>
        <li>sadness:<b>{{emotion['sadness']}}%</b><div class="parent_progress_div"><div id="sadness_progress" class="progress-bar" ></div></div></li>
        <li>nervousness:<b>{{emotion['nervousness']}}%</b><div class="parent_progress_div"><div id="nervousness_progress" class="progress-bar" ></div></div></li>
    </ul>
  </div>
  <div class="emotion-div" tabindex="0" id="emotion-div-topics">
    <p>Click to open topics list</p>
    <ul class="emotion-table">
        <li>arts and culture:<b>{{topics['arts_&_culture']}}%</b><div class="parent_progress_div"><div id="arts_and_culture_progress" class="progress-bar"></div></div></li>
        <li>fashion and style:<b>{{topics['fashion_&_style']}}%</b><div class="parent_progress_div"><div id="fashion_and_style_progress" class="progress-bar"></div></div></li>
        <li>learning and educational:<b>{{topics['learning_&_educational']}}%</b><div class="parent_progress_div"><div id="learning_and_educational_progress" class="progress-bar"></div></div></li>
        <li>science and technology:<b>{{topics['science_&_technology']}}%</b><div class="parent_progress_div"><div id="science_and_technology_progress" class="progress-bar" ></div></div></li>
        <li>business and entrepreneur:<b>{{topics['business_&_entrepreneur']}}%</b><div class="parent_progress_div"><div id="business_and_entrepreneur_progress" class="progress-bar" ></div></div></li>
        <li>films, tv and video:<b>{{topics['film_tv_&_video']}}%</b><div class="parent_progress_div"><div id="film_tv_and_video_progress" class="progress-bar" ></div></div></li>
        <li>music:<b>{{topics['music']}}%</b><div class="parent_progress_div"><div id="music_progress" class="progress-bar" ></div></div></li>
        <li>sports:<b>{{topics['sports']}}%</b><div class="parent_progress_div"><div id="sports_progress" class="progress-bar" ></div></div></li>
        <li>celebrity and pop culture:<b>{{topics['celebrity_&_pop_culture']}}%</b><div class="parent_progress_div"><div id="celebrity_and_pop_culture_progress" class="progress-bar" ></div></div></li>
        <li>fitness and health:<b>{{topics['fitness_&_health']}}%</b><div class="parent_progress_div"><div id="fitness_and_health_progress" class="progress-bar" ></div></div></li>
        <li>news and social concern:<b>{{topics['news_&_social_concern']}}%</b><div class="parent_progress_div"><div id="news_and_social_concern_progress" class="progress-bar" ></div></div></li>
        <li>travel and adventure:<b>{{topics['travel_&_adventure']}}%</b><div class="parent_progress_div"><div id="travel_and_adventure_progress" class="progress-bar" ></div></div></li>
        <li>diaries and daily life:<b>{{topics['diaries_&_daily_life']}}%</b><div class="parent_progress_div"><div id="diaries_and_daily_life_progress" class="progress-bar" ></div></div></li>
        <li>food and dining:<b>{{topics['food_&_dining']}}%</b><div class="parent_progress_div"><div id="food_and_dining_progress" class="progress-bar" ></div></div></li>
        <li>other hobbies:<b>{{topics['other_hobbies']}}%</b><div class="parent_progress_div"><div id="other_hobbies_progress" class="progress-bar" ></div></div></li>
        <li>youth and student life:<b>{{topics['youth_&_student_life']}}%</b><div class="parent_progress_div"><div id="youth_and_student_life_progress" class="progress-bar" ></div></div></li>
        <li>family:<b>{{topics["family"]}}%</b><div class="parent_progress_div"><div id="family_progress" class="progress-bar" ></div></div></li>
        <li>gaming:<b>{{topics['gaming']}}%</b><div class="parent_progress_div"><div id="gaming_progress" class="progress-bar" ></div></div></li>
        <li>relationships:<b>{{topics['relationships']}}%</b><div class="parent_progress_div"><div id="relationships_progress" class="progress-bar" ></div></div></li>
    </ul>
  </div>
</div>
{% if bubble_graph_topics and bubble_graph_emotions %}
<div class="bubble_graphs_div">
  {{ bubble_graph_topics|safe }}
  {{ bubble_graph_emotions|safe }}
</div>
<div class="bubble_graphs_div">
  {{ doughnut_graph_topics|safe }}
</div>
{% endif %}
  <div>

  </div>
</div>
{% endblock %}
